@media screen and (max-width: 600px) {
  * {
    margin: 0;
    font-family: "Mulish", sans-serif;
  }
  /* header */
  .header {
    display: none;
  }
  /* section-1 */
  .section-1-container {
    margin: auto;
    display: flex;
    width: 335px;
    height: 483px;
    flex-direction: column;
  }

  .section-1-container h1 {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 24px;
  }

  .section-1-container p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
  .sec1-child-2 {
    display: flex;
    width: 287px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
  }

  /* section-2 */
  .section-2-container {
    display: flex;
    flex-direction: column;
  }

  .sec2-child-1 h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 100%;
  }

  .sec1-child-2 p {
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .mini-child-1 {
    display: flex;
    flex-direction: column;
  }
  .mini-child-2 {
    display: flex;
    flex-direction: column;
  }

  .mini-child-3 {
    display: flex;
    flex-direction: column;
  }

  .mobile-3 {
    width: 335px;
    height: 176px;
    flex-shrink: 0;
  }

  .mobile-3 h1 {
    color: white;
    margin-top: 75px;
  }

  .sec4-child-2 {
    display: flex;
    flex-direction: column;
  }

  .sec4-minichild-1 {
    width: 335px;
    height: 289px;
    margin: auto;
  }

  .sec4-minichild-2 {
    width: 335px;
    height: 289px;
    margin: auto;
  }

  .sec4-minichild-3{
    width: 335px;
    height: 289px;
    margin: auto;



  }
}
