* {
  margin: 0;
  font-family: "Mulish", sans-serif;
}

.header {
  margin: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header li {
  border-radius: 16px;
  transition: 0.5s;
  padding: 16px;
  display: inline;
  list-style: none;
}

.header a {
  text-decoration: none;
  color: #424247;
}

.header li:hover {
  color: white;
  background-color: #ff5400;



}


#HOME{
   color: #ff5400;





}

#HOME:hover {
    color: black;



}
